img {
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 0px 2px;
    width: 10%;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e1e1e1;
    color: rgb(121, 14, 14);
    text-align: center;
    background-color: white;
}

video {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.link a{
    text-decoration: none;
    color: black;
}

.border_middle{

    border: solid 2px rgb(196, 187, 187);
    padding: 10px;
    width: 90%;
    margin: auto;
    background-color: white;
}

body {
    background-color: #e1e1e1;
}

